#intro{
	background-image: url("/img/nishant-lacaverne.jpg");
	/*background-image: linear-gradient(red, yellow, green);*/
	background-repeat: no-repeat;
	/*background-color: #cccccc;
	background-position: center;
	background-size: cover;*/
}